<h3><%= @user.real_name %>签到记录</h3>
<table class="admin">
  <tr>
    <th>登陆时间</th>
    <th>登陆ip</th>
  </tr>

  <% @user.login_logs.each do |l| %>
    <tr>
      <th scope="row"class="spec period-first-col"><%= l.created_at.strftime("%y-%m-%d %I:%M%p") %></th>
      <td><%= l.ip %></td>
    </tr>
  <% end %>
</table>