<div class="bandeauBas">
  <!--ul>
    <li><a href="/promotions.html">首页</a></li>    I 
    <li><a href="newsletter.php">公司介绍</a></li>    I
    <li><a href="contact.php">产品质量</a></li>    I
    <li><a href="/conditions-generales-de-ventes.html">公司新闻</a></li>     I
    <li><a href="/mentions-legales.html">产品介绍</a></li>     I
    <li><a href="" onclick="AjouterFavoris(); return false;">加入收藏</a></li>
  <!--li><a href="#" onclick="zoomslide.open('/envoyer_a_un_ami.php',{theme:'webcd',width:600,height:310}); return false;">Recommander à un ami</a></li-->


</ul-->
<p>地址：深圳福田区福中三路诺德大厦9H&nbsp;&nbsp;&nbsp;&nbsp; 电话：+86 0755 88267320&nbsp;&nbsp;&nbsp;&nbsp; 传真：+86 0755 88267328  &nbsp;&nbsp;&nbsp;&nbsp; 邮箱：<a href="mailto:lasommelierechina@gmail.com">lasommelierechina@gmail.com</a></p>
<div>2013深圳市拉苏米亚商贸有限公司版权所有</div>
<a href="/" title="拉苏米亚"><img src="/images/skins/commun/logo.jpg" alt="La Sommelière" style="margin-top:10px; width: 130px;"></a>
<div>
  <script type="text/javascript" src="http://js.tongji.linezing.com/3258256/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3258256/tongji.gif"/></a></noscript>
</div>
</div>

<!--script>

  function AjouterFavoris() { // On crée la fonction AjouterFavoris()
    if ( navigator.appName != 'Microsoft Internet Explorer' )
    { // Si le navigateur est Internet Explorer
      window.sidebar.addPanel("http://www.lasommeliere.com/", "http://www.lasommeliere.com/", ""); // Alors on utilise la fonction window.sidebar.addPanel("Nom utilisé pour enregistrer le site", "Adresse du site web", "")
    }
    else
    { // Sinon, si le navigateur n'est pas Internet Explorer
      window.external.AddFavorite("http://www.lasommeliere.com/", "http://www.lasommeliere.com/"); // Alors on utilise la fonction window.external.AddFavorite("Nom utilisé pour enregistrer le site", "Adresse du site web")
    }
  }
</script-->